# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp
*.ilk

# Executables
*.exe
*.out
*.app

# Others
*.pdb
*.vs
TAGS
*.sublime*

*.i
*.sdf
*.sln